* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Changed from 0 to border-box */
}

html,
body {

    width: 100%;
    height: 100%;
}


body {
    background-color: rgb(255, 255, 255);
}

header,
footer {
    background-color: #727272;
    height: 10%;
    width: 100%;
}

.header-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

h1 {
    font-family: Arial, sans-serif;
    /* Changed 'a' to 'Arial' */
    font-size: 30px;
    font-weight: 300;
    /* Changed 300px to 300 */
    color: rgb(205, 205, 205);
}

.layout-grid {
    width: 100%;
    height: 100%;
    max-width: 992px;
    margin: 0 auto;
    /* border: 5px solid rgb(55, 55, 55); */
}

.ux {
    color: white;
    font-size: 35px;
    margin-left: 3px;
    font-weight: bold;
    font-family: sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    height: 100%;

}

nav a {
    color: rgb(255, 255, 255);
    font-weight: 100;
    font-size: 20px;
    text-decoration: none;

    height: 60px;
    width: 80px;
    display: flex;

    justify-content: space-between;
    /* Changed to center for better alignment */
    align-items: center;

}

nav a:hover {
    background-color: rgb(188, 188, 188);
    margin-left: 2px;
    margin-bottom: 2px;
}

main {
    width: 100%;
    height: 80%;
    /* border: 3px solid red; */
    background-color: #ffffff;
}

.main-flex {
    /* border: 2px solid green; */
    background-color: #f2f2f2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;

}

.harmonia h2 {
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 700;
}

.harmonia p {


    color: #000000;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;

}




aside article{
    
    background-color: white;



   }
.harmonia {
    /* border: 2px solid blue; */

    width: 700px;
    height: 100%;
    background-color: #efefef;
    overflow: auto;
}

aside {
    /* border: 2px solid purple; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 250px;
    height: 100%;
    background-color: #b0b0b0;

}


.harmonia img {

    width: 100%;

}

aside article h3{

background-color: white;
text-transform: uppercase;
text-align: center;
padding:10px ;
border: 2px solid black;

}

.buscar{
height: 20%;

margin-bottom: 3px;

}
.post{

width: 40%;
margin-bottom: 3px;
}
.Inscreva-se{

width: 40%;
margin-bottom: 3px;
}