   /* reset de propriedade do css */
   
   *{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{

    background-color: rgb(255, 255, 255);
}

.header-flex{
    background-color: aliceblue;
    width: 100%;
    height: 80px;
}
h1{
font-size: 30px;
font-weight: 300;
font-family:Arial, Helvetica, sans-serif

}

nav{
border: 3px solid darkblue++    ;
font-size: 35px;
font-family: Arial, Helvetica, sans-serif;
justify-content: flex-start;
}

.layout-grid{


width: 100%;
height: 100%;
max-width: 992px;
margin: 0 auto;
background-color: beige;
border: 1px solid salmon;

}
.header-flex{

    display: flex;
    justify-content: space-between;
}
