* {
    margin: 0;
    padding: 0;
    box-sizing: 0;

}

body {
    background-color: rgb(255, 255, 255);
}

header , footer {
    background-color: rgb(55, 55, 55);
    border: 3px solid black;
}



.header-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


h1 {

    font-family: a, sans-serif;
    font-size: 35px;
    font-weight: 300px;
    color: rgb(205, 205, 205);
}

.layout-grid {
    width: 100%;
    height: 100%;
    max-width: 992px;
    margin: 0 auto;
    border: 5px solid rgb(55, 55, 55);
   
}


.ux {
    color: white;
    font-size: 50px;
    margin-left: 3px;
    font-weight: bold;
    font-family: sans-serif
}




nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    height: 100%;
}

nav a {
    
    color: rgb(255, 255, 255);
    
    font-weight: 100;
    font-size: 30px;
    height: 80px;
    width: 100%;
    
    display: flex;
    text-decoration: none;
    font-family: sans-serif;
    justify-content: space-between;
    align-items: center;
    transition: background-color ease, margin-left ease margin-botom ease;
}


nav a:hover {
    background-color: rgba(205, 205, 205, 0.5);
    margin-left: 10px;
    margin-bottom: 10px;
}

main {
    width: 100%;
    height: 80%;
    border: 3px solid red;


}

.main-flex {
    border: 2px solid green;
    background-color: antiquewhite;
   
    width: 100%;
    height: 100%;

    
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.harmonia {
    border: 2px solid blue;
    margin: 10px;
    width: 700px;
    height: 500px;
    background-color: green;

}

aside {
    border: 2px solid purple;
    width: 250px;
    height: 500px;
    background-color: green;
}